@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Solway:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: 'Inter', sans-serif;
}


@font-face {
    font-family: "Brittany Signature";
    src: url("/fonts/brittany-signature.ttf") format("truetype");
}