@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: 'Inter', sans-serif;
}


@font-face {
    font-family: "Brittany Signature";
    src: url("/fonts/brittany-signature.ttf") format("truetype");
}